/*Kompletne spaghetti XDD*/


.gora{
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}



/*navbar*/
.container{
  width: 95%;
  margin: 0 auto;
}
.navbar{
  background: #DADFDE;
  display: flow-root;
}
.logo{
  float:left;
  padding: 5px 0;
}
nav{
  float:right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}
nav li{
  font-size:105%;
  display: inline-block;
  float:left;
  margin-left:25px;
  padding-top:40px;
  position: relative;
}
nav a{
  color:#231F20;
  text-decoration: none;
  text-transform: Uppercase;
}
nav a:hover{
  color: #c79e00;
  transition: color 250ms;
}
nav a::before {
  content: '';
  display: block;
  height: 0px;
  background-color: #231F20;
  transition: all 250ms;
  position: absolute;
  top: 0%;
  width: 100%;
}
nav a:hover::before {
  height: 20%;
}



/*clearfix, border kolumny, formatowanie naglowka*/
.clearfix{
  display: flow-root;
}
.karta {
    background-color: white;
    padding: 10px;
    border: 4px solid #c79e00;

}
.naglowek{
  text-align:center;
  color:#231F20;
}
.naglowektop{
  text-align:center;
  color:#231F20;
  padding-top:20px;
}



/*kolumna z contentem*/
.cf:after {
  clear: both;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". d d d d d ."
    ". d d d d d ."
    ". d d d d d .";
}
.d { grid-area: d; }



/*Galeria*/
.gallery {
  column-rule: 0px solid #eee;
  column-gap: 17px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.gallery.columns {
  column-count: 3;
}
@media only screen and (max-width: 1023px) {
  .gallery.columns {
    column-count: 2;
  }
}
@media only screen and (max-width: 720px) {
  .gallery.columns {
    column-count: 1;
  }
}
.gallery .gallery-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 17px;
  max-width: 100%;
  width: 100%;
}
.gallery .gallery-item img{
  max-width: 100%;
  height:auto;
  display:block;
  margin: 0 auto;
      width: 100%;
}


/*formatowanie contentu*/
.imgformatowanie{
  float:center;
  padding-left:3vw;
  padding-right:3vw;
  width:90%;
}

.tformatowanie{
  text-align: justify;
  float:center;
  margin-left:3vw;
  margin-right:3vw;
  max-width: 90%;
  color:#231F20;
}
.hformatowanie{
  text-align: justify;
  float:center;
  margin-left:3vw;
  margin-right:3vw;
  margin-bottom: -2px;
  max-width: 90%;
  color:#231F20;
}
.ramka{                 /*zmienia wielkość mapy*/
  margin: 0% 3vw 3vw 3vw;
  max-height:25vh;
  max-width:90%;

}
.mapa{
  min-width:200px;
  min-height:225px;
  height:100%;
  width:100%;
  border-style: solid;
  border: 2px solid #ffe994;
  box-sizing: border-box;
}

/*Tabela*/
table{
  table-layout: fixed;
  color:#231F20;
  display: table;
  margin: 0 auto;
  width:80%
}
td, th {
  border: 2px solid;
  padding: 8px;
  background-color: #ffe994;
  border-color: #c79e00;
  border-radius: 2px;
  width:26.6%;
}
